/* class selector for element where element needs to be centered */
.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* class selector for cursor to become pointer when element is hovered */
.hover-pointer {
  cursor: pointer;
}